<!-- myapp/templates/add_payment.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Payment</title>
    <link rel="stylesheet" href="{% static 'css/payment.css' %}">
</head>
<body>

    <div class="container">
        <h1>Add New Payment</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Payment</button>
        </form>

        <br>
        <a href="{% url 'payment_history' %}">Back to Payment History</a>
    </div>

</body>
</html>
